cert_manager_version          = "1.10.0"
instance_type                 = "tinav3.c4r8p2"
omi                           = "ami-504e6b16"
prefix                        = "quickstart"
rancher_helm_repository       = "https://releases.rancher.com/server-charts/latest"
rancher_kubernetes_version    = "v1.24.13+k3s1"
rancher_server_admin_password = "blablabla1234"
rancher_version               = "2.7.3"
workload_kubernetes_version   = "v1.24.13+rke2r1"
